.persistence-buttons {
  color: var(--color-light-grey-300);
  padding: 2;
}

.persistence-table {
  color: var(--color-light-grey-300);
  padding: 1;
  border: medium;
}

.container {
  color: var(--color-light-grey-300);
  padding: 1;
  border: medium;
}
